body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.wrap, .write {
  display: flex;
  margin-top: 20px;
}

.wrap .wrap-item + .wrap-item {
  margin-left: 10px;
}

.text {
  text-align: center;
  margin-bottom: 10px;
}

.file-data-screen, #view, .file-read {
  width: 300px;
  min-height: 300px;
  border: 1px solid;
  box-sizing: border-box;
}

.row {
  display: flex;
  border-bottom: 1px solid;
}

.row .left, .row .right {
  padding: 10px;
}

.row .left {
  width: 118px;
  margin-right: 20px;
  border-right: 1px solid;
}